repos:
  - repo: https://github.com/charliermarsh/ruff
    rev: v0.12.0
    hooks:
      - id: ruff
        args: ["--fix"]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.2.0
    hooks:
      - id: mypy